<style>
    .background-image {
        background-image: url('https://img.freepik.com/vector-gratis/ilustracion-personas-mascotas_23-2148990807.jpg?t=st=1727841251~exp=1727844851~hmac=4e41ebac63710820b1a7a4600ad9691235858a9ff86bd7a4cc105ffb23d97ca1&w=1800');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
        z-index: -1;
    }

    .adoptante-card {
        background-color: rgba(246, 202, 255, 0.74);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(77, 0, 100, 0.726);
        padding: 15px;
        margin-bottom: 20px;
        transition: transform 0.2s;
    }

    .adoptante-card:hover {
        transform: scale(1.02);
    }

    .adoptante-title {
        font-weight: bold;
        color: #000000;
        margin-bottom: 5px;
        
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
</style>



<!-- Imagen de fondo -->
<div class="background-image"></div>


<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 style="font-size: 40px; text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);">Registros de Adoptantes</h2>

        <!-- Botón Registrar Nueva Mascota centrado -->
        <button class="btn btn-sm mt-2" [routerLink]="['/adoptantes/agregar']"
            style="background-color: #ffa8db; color: black; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); font-family: 'Arial', sans-serif; font-size: 1.5rem;">
            Registrar Nuevo Adoptante
        </button>
    </div>



    <div class="row mt-3">
        <div class="col-sm-12">
            <div class="row">
                <ng-container *ngFor="let adoptante of (adoptantes | async)">
                    <div class="col-md-4 col-sm-6">
                        <div class="adoptante-card">
                            <div class="adoptante-info">
                                <span class="adoptante-title">ID:</span>
                                {{ adoptante.id }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">NOMBRE:</span>
                                {{ adoptante.first_name }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">APELLIDO:</span>
                                {{ adoptante.last_name }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">EMAIL:</span>
                                {{ adoptante.email }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">TELEFONO:</span>
                                {{ adoptante.phone }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">DIRECCION:</span>
                                {{ adoptante.address }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">FECHA DE NACIMIENTO:</span>
                                {{ adoptante.birth_date }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">OCUPACION:</span>
                                {{ adoptante.occupation }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">TYPO DE HOGAR:</span>
                                {{ adoptante.housing_type }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">TIENE OTRAS MASCOTAS:</span>
                                {{ adoptante.has_other_pets }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">QUE OTRO TIPO DE MASCOTAS:</span>
                                {{ adoptante.type_of_other_pets }}
                            </div>
                            <div class="adoptante-info">
                                <span class="adoptante-title">MOTIVO DE ADOPCION:</span>
                                {{ adoptante.adoption_reason}}
                            </div>
                            <div class="action-buttons">
                                <!-- Botón Editar -->
                                <a class="btn btn-sm mr-2" [routerLink]="['/adoptantes/editar/', adoptante.id]"
                                    style="background-color: #ffd037; color: rgb(0, 0, 0); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); font-family: 'Arial', sans-serif; font-size: 1.1rem; margin-bottom: 30px;">
                                    Editar Informacion
                                </a>

                                <!-- Botón Borrar -->
                                <button class="btn btn-sm" (click)="borrarAdoptante(adoptante.id)"
                                    style="background-color: #ff7a70; color: rgb(0, 0, 0); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); font-family: 'Arial', sans-serif; font-size: 1.1rem; margin-bottom: 30px;">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>